@font-face {
    font-family: 'Halisr Reg';
    src: url('/static/css/webfonts/halisr-regular-webfont.ttf') format('truetype');
}
@font-face {
    font-family: 'Halisr Bold';
    src: url('/static/css/webfonts/halisr-bold-webfont.ttf') format('truetype');
}
@font-face {
    font-family: 'Halisr Light';
    src: url('/static/css/webfonts/halisr-extralight-webfont.ttf') format('truetype');
}
@font-face {
    font-family: 'Halisr Black';
    src: url('/static/css/webfonts/halisr-black-webfont.ttf') format('truetype');
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Halisr Reg', sans-serif;
    overflow-x: hidden;
}

.outer-container {
    position: relative;
    width: 100vw;
    height: 100vh;

    .hey {
        font-family: 'Halisr Bold';
        position: absolute;
        top: 20%;
        left: 25%;
        right: 25%;
        text-align: center;
        padding: 2vw;
        font-size: 6vw;
        color: white;
        text-shadow: 10px 10px 2px #26272d;
        z-index: 1;
    }


    video {
        z-index: -1;
    }

    #drone-video {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
    }

    #logo {
        background-image: url("/static/media/logo.png");
        background-size: cover;
        position: fixed;
        width: 7vw;
        height: 7vw;
        right: 0;
        bottom: 0;
        margin: 2vw;
    }

    #learn_more {
        z-index: 20;

        ul {
            text-align: center;
            list-style-type: none;
            padding-top: 0.8vw;
            min-height: 4vh;

            li {
                z-index: 100;
                display: inline-block;
                font-size: 2vw;
                padding-bottom: 0.8vw;

                a {
                    color: white;
                    text-align: center;
                    padding: 16px 16px;
                    text-decoration: none;
                }

                .active {
                    font-size: 2.5vw;
                    color: lightgoldenrodyellow;
                    text-shadow: 3px 3px grey;
                }
            }

            li:hover {
                border-bottom: 8px solid lightgreen;
            }

        }

    }
}


.section {
    padding: 3vw 20vw 2vw 20vw;
    text-align: left;
    color: black;
    background-color: white;
    position: static;
    min-width: 100%;
    z-index: 8;

    h1 {
        font-family: 'Halisr Bold';
        text-align: center;
        padding: 2vw;
    }
}


#mission {

}

.quote {
    display: block;
    background-image: linear-gradient(to bottom right, #0fb758, #10a4b7);
    font-size: larger;
    color: white;
    padding: 1vw;
    //margin: 1vw;

}

#clients {
    color: white;
    img {
        //margin: 1vh;
    }
}

#who_we_are {
    background-color: white;
    padding-left: 10vw;
    padding-right: 10vw;

    img {
        align-self: center;
        width: 75%;
        height: auto;
        margin-bottom: 2vw;
    }

    // Group picture
    .psiofficial {
        background-image: url("../media/psi official.jpg");
        background-size:     cover;
        background-repeat:   no-repeat;
        background-position: center center;
        width: 100%;
        height: 400px;
    }

    p {
        text-align: left;
    }
}


#footer {
    height: 100vh;
    width: 100vw;
    background-color: #26272d;
    bottom: 0;
}

@media only screen and (max-width: 800px) {
    #mission {
        padding-left: 5vw;
        padding-right: 5vw;
        p {
            text-align: left;
        }
    }

    #why_matters {
        h2 {
            width: 100%;
        }
        li {
            margin-bottom: 2vw;
        }
        .quote {
            padding-top: 1vw;
            padding-bottom: 1vw;
        }
    }

    .hey {
        font-size: 7vw;
    }
}
