@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Anton|Julius+Sans+One|Open+Sans|Teko');

@font-face {
  font-family: 'Halisr Reg';
  src: url('/static/css/webfonts/halisr-regular-webfont.ttf') format('truetype');
}
@font-face {
  font-family: 'Halisr Bold';
  src: url('/static/css/webfonts/halisr-bold-webfont.ttf') format('truetype');
}
@font-face {
  font-family: 'Halisr Light';
  src: url('/static/css/webfonts/halisr-extralight-webfont.ttf') format('truetype');
}
@font-face {
  font-family: 'Halisr Black';
  src: url('/static/css/webfonts/halisr-black-webfont.ttf') format('truetype');
}


body {
    font-family: 'Halisr Reg', sans-serif;
}

h3{
  font-family: 'Halisr Reg';
}
.panel-body  {
    word-break: break-all
}

.navbar {
  height: 5em;
  background: rgba(0,0,0,0.2);
}

.navbar .singleDropdown {
    display: none;
    align: right;
}

.dropdown-toggle {
  top: 0.8vw;
}

@media (max-width: 800px) {
  .navbar {
    background: rgba(0,0,0,0.4) 37%;
  }
  .navbar .ognavbar     {
    display: none;
  }
  .navbar .singleDropdown {
    display: inline-block;
  }
}

.navbar-header {
    font-family: 'Halisr Black';
    color: white;
    margin-left: 1em;
    font-size: 3vw;
    margin-top: 0.8em;
    text-transform: uppercase;
}

.navbar-right {
  margin-right: 1em;
}

.navlink {
    font-family: 'Halisr Light';
    font-size: 1.5vw;
    padding-top: 0.8vw;
    color: white;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.btn {
  background: none;
  color: white;
  font-size: 20px;
}

.dropdown-menu {
  align-items: center;
  top: 5vw;
  border-style: none;
  background-color: rgba(255,255,255,0.7);
  color: white;
}

#carousel-item {
    text-align: center;
    width: 100%
}

.carousel-inner {
    width: 100%
}

.carousel-item {
  width: 100%
}

#graphic1 {
    background-image: url('/static/media/homepage.png');
    text-align: center;
    margin: auto;
    padding: 120px 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.reduceGraphic {
  font-size: 6.5vw;
  font-family: 'Halisr Reg';
}

@keyframes reduce {
    from {font-size: 6.5vw;}
    to {font-size: 4vw;}
}

.graphic1a {
  animation-name: reduce;
  animation-duration: 4s;
  font-size: 4vw;
}


@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(3vw);
        transform: translateX(3vw);
    }
    30%
    {
        -webkit-transform: translateX(-3vw);
       transform: translateX(-3vw);
    }
    50%
    {
        -webkit-transform: translateX(1.5vw);
        transform: translateX(1.5vw);
    }
    65%
    {
        -webkit-transform: translateX(-1.5vw);
        transform: translateX(-1.5vw);
    }
    80%
    {
        -webkit-transform: translateX(1vw);
        transform: translateX(1vw);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes swing
{
  15%
  {
      -webkit-transform: translateX(2vw);
      transform: translateX(2vw);
  }
  30%
  {
      -webkit-transform: translateX(-2vw);
     transform: translateX(-2vw);
  }
  50%
  {
      -webkit-transform: translateX(1.5vw);
      transform: translateX(1.5vw);
  }
  65%
  {
      -webkit-transform: translateX(-1.5vw);
      transform: translateX(-1.5vw);
  }
  80%
  {
      -webkit-transform: translateX(1vw);
      transform: translateX(1vw);
  }
  100%
  {
      -webkit-transform: translateX(0);
      transform: translateX(0);
  }
}

#graphic1b:hover {
  -webkit-animation: swing 2s ease;
  animation: swing 2s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

#graphic1c {
  -webkit-transition: background-color 0.7s; /* Safari */
  transition: background-color 0.7s;
}

#graphic1c:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

#home-graphic {
  list-style: none;
}

.graphic-lines {
    color: white;
    padding-top: 2vw;
    font-family: 'Halisr Reg';
}

.graphic-description {
  margin-top: 4vw;
  margin-left: 8vw;
  margin-right: 8vw;
  font-family: 'Halisr Light';
  font-size: 1.8vw;
  color: white;
  background-color: rgba(0,0,0,0.3);
}

.graphic-description2 {
  padding-left: 5vw;
  padding-right: 5vw;
  font-family: 'Halisr Light';
  font-size: 1.5em;
  color: inherit;
}

.graphicHeader {
  font-family: 'Halisr Bold', sans-serif;
  font-size: 3vw;
  margin-bottom: 1vw;
  color: #35b254;
}

#graphic2 {
    padding: 5vw;
    background-color: #E7E7E6;
}

.fact{
  padding-right: 900;
  background-color: #e5f442;
  color: black;
  font-family: 'Halisr Reg';
  text-align: center;
  font-size: 1.5vw;
  padding: 0.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding-right: 2vw;
  margin-right: -5vw;
}

.conestudy{
  text-align: center;
  margin-bottom: -2vw;
}

.bol{
  font-family: 'HalisR Bold';
  display: inline;
}

.card {
  padding: 3vw;
  border-style: dashed;
  border-color: #508991;
}

.card-btn {
  color: inherit;
}

#graphic3 {
    padding-left: 5vw;
    padding-right: 5vw;
    background-color: #E7E7E6;
}

#graphic4 {
    padding-bottom: 10vw;
    background-color: #E7E7E6;
}

#footer {
    height: 25em;
    background-color: #172A3A;
    bottom: 0;
}

#psigroup {
  padding: 1em;
  width: 80vw;
  text-align: center;
}

.logo{
  height: 7vw;
  width: 7vw;
  margin-bottom: 1vw;
}

a {
  text-decoration: inherit;
  color: inherit;
}

a:hover{
  text-decoration: inherit;
  color: inherit;
}

.hyperlink {
  text-decoration: underline;
  color: blue;
}

.footing {
  font-family: 'HalisR Light';
  font-size: 1.3em;
  color: rgba(255, 255, 255, 0.5);
  margin: 5vw;
  line-height: 3vh;
  padding-left: 2vw;
  line-height: 1vh;
  border-left: 3px dashed rgba(255, 255, 255, 0.5);
}
