@font-face {
    font-family: 'Halisr Reg';
    src: url('/static/css/webfonts/halisr-regular-webfont.ttf') format('truetype');
}
@font-face {
    font-family: 'Halisr Bold';
    src: url('/static/css/webfonts/halisr-bold-webfont.ttf') format('truetype');
}
@font-face {
    font-family: 'Halisr Light';
    src: url('/static/css/webfonts/halisr-extralight-webfont.ttf') format('truetype');
}
@font-face {
    font-family: 'Halisr Black';
    src: url('/static/css/webfonts/halisr-black-webfont.ttf') format('truetype');
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Halisr Reg', sans-serif;

    .contents {
        overflow-x: hidden;
    }
}

.mobile {
    display: none;
}

.outer-container {
    position: relative;
    width: 100vw;
    height: 100vh;

    .hey {
        font-family: 'Halisr Bold';
        position: absolute;
        top: 20%;
        left: 25%;
        right: 25%;
        text-align: center;
        padding: 2vw;
        font-size: 6vw;
        color: white;
        text-shadow: 10px 10px 2px #26272d;
        z-index: 1;
        line-height: 1.5;
    }

    #scroll {
        color: white;
        height: 100vh;
        text-align: center;
        z-index: 0;
        transform: translateY(70vh);
    }

    video {
        z-index: -2;
    }

    #drone-video {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
    }

    #logo {
        background-image: url("/static/media/logo.png");
        background-size: cover;
        position: fixed;
        width: 7vw;
        height: 7vw;
        right: 0;
        bottom: 0;
        margin: 2vw;
        z-index: 10;
    }

    #learn_more {
        z-index: 20;
        color: white;

        ul {
            text-align: center;
            list-style-type: none;
            padding-top: 1vw;
            padding-bottom: 0.4vw;

            li {
                z-index: 100;
                text-align: center;
                display: inline-block;
                font-size: 2vw;
                padding-bottom: 0.3vh;

                a {
                    text-align: center;
                    margin: 50px 50px;
                    text-decoration: none;
                    color: inherit;
                }

                .active {
                    font-size: 2.5vw;
                    color: lightgoldenrodyellow;
                    text-shadow: 3px 3px grey;
                }
            }

            li:hover {
                padding-bottom: -5px;
                border-bottom: 5px solid lightgreen;

                .active {
                    border-bottom: none;
                }
            }

        }
    }
}


.section {
    padding: 5vw 20vw 1vw 20vw;
    text-align: left;
    color: black;
    background-color: white;
    position: static;
    min-width: 100%;
    z-index: 2;

    h1 {
        font-family: 'Halisr Bold';
        text-align: center;
        padding: 2vw;
    }
}


#mission {

}

#why_matters {
    .right{
        padding: 0;
        padding-right: 7vw;
    }
    //
    .left{
        padding: 0;
        padding-left: 7vw;
    }

    img {
        max-height: 350px;
        padding-left: 2vw;
    }

}

#values {
    text-align: center;

    .row{
        text-align: center;

        a:hover{
            text-decoration: none;
        }
        .card{
            text-align: center;
            text-align: left;
            padding: 20px;
            border: none;

            img {
                width: 200px;
                height: 200px;
                border-radius: 50%;
                box-shadow: 5px 5px 5px grey;
            }

            img:hover {
                width: 230px;
                height: 230px;
            }
        }


    }


    h2{
        color: #0fb758;
    }
}

.quote {
    display: block;
    background-image: linear-gradient(to bottom right, #0fb758, #10a4b7);
    font-size: larger;
    color: white;
    padding: 1vw;
    //margin: 1vw;

}

#clients {
    color: black;

    img {
        margin: 10px;
    }

    /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
    .flip-card {
        background-color: white;
        width: 100%;
        height: 10vh;
        margin: 2vw;
        //height: 200px;
        //border: 1px solid #f1f1f1;
        perspective: 1000px; /* Remove this if you don't want the 3D effect */
    }

    /* This container is needed to position the front and back side */
    .flip-card-inner {
        position: relative;
        background-color: white;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }

    /* Do an horizontal flip when you move the mouse over the flip box container */
    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }

    /* Position the front and back side */
    .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
    }

    /* Style the front side (fallback if image is missing) */
    .flip-card-front {
        background-color: white;
        color: black;
    }

    /* Style the back side */
    .flip-card-back {
        text-align: center;
        background-color: white;
        color: black;
        transform: rotateY(180deg);
    }
}

#who_we_are {
    background-color: white;
    padding-left: 10vw;
    padding-right: 10vw;

    img {
        align-self: center;
        width: 75%;
        height: auto;
        margin-bottom: 2vw;
    }

    // Group picture
    .psiofficial {
        background-image: url("../media/psi_official.jpg");
        background-size:     cover;
        background-repeat:   no-repeat;
        background-position: center center;
        width: 100%;
        height: 400px;
    }

    p {
        text-align: left;
    }
}


#footer {
    font-family: 'Halisr Bold';
    height: 60vh;
    width: 100vw;
    background-color: #26272d;

    bottom: 0;
    border-top: solid 5vh #10a4b7;
    color: white;
    text-align: left;

    #contact {
        display: inline-block;
        margin: 10px;
        padding: 10px;
        background-color: #0fb758;
        z-index: 10;
    }

    #contact:hover {
        background-color: #10a4b7;
    }
}


@media only screen and (max-width: 1000px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .outer-container {
        .hey {
            left: 0;
            right: 0;
            top: 20vh;
            padding: 0;
            font-size: 11vw;
            line-height: 2.5;
            z-index: -1;
        }


        @media only screen and (min-width: 600px) {
            .hey {
                font-size: 9vw;
                line-height: 1.8;
            }
        }

        #scroll {
            transform: translateY(90vh);
        }

        #menu {
            position: absolute;
            top: 5vw;
            right: 5vw;
            color: white;
            z-index: 15;
        }

        #menu_show {
            display: none;
            width: 100vw;
            background-color: #26272d;
            z-index: 4;
            padding-bottom: 5vh;

            .row_container {
                padding-top: 10vh;
                right: 0;

                .row {
                    text-align: center;
                    color: white;
                    font-size: 3vh;
                    display: block;
                    margin: 1vh;
                }
            }
        }
    }

    .section {
        padding: 10vw 10vw 5vw 10vw;
    }

}
