html, body, .content {
  overflow: visible;
}

.outer-container {
  overflow-x: initial !important;

  #learn_more{

    ul {
      li {
        color: black;
      }

      .active {
        text-shadow: 3px 3px 3px black;
      }

      li:hover {
        border-bottom: 5px solid grey;

        .active {
          border-bottom: none;
        }
      }
    }

  }

}

.intro {
  top: 8vh;
  position: absolute;
  padding: 10vw;
  position: absolute;
  line-height: 25px;
}

.heading {
  color: white;
  text-shadow: 5px 5px 5px grey;
  //padding-left: -5vw;
}



.section{
  margin-bottom: -1vh;
}

#footer {
  margin-top: 10vh;
}


.energy {
  .outer-container {
    background-color: yellow;
    //height: 100vh;
    //height: 135vh;

    }

  @media only screen and (max-width: 900px) {
    .outer-container {
      height: 165vh;
    }
    .heading{
      font-size: 9vh;
    }
  }
}

.water {
  .outer-container {
    background-color: #19d8ff;
    //height: 100vh;
  }

  @media only screen and (max-width: 900px) {
    .outer-container {
      height: 150vh;
    }
    .heading{
      font-size: 9vh;
    }
  }
}

.food {
  .outer-container {
    background-color: #5bff63;
    height: 90vh;
  }

  @media only screen and (max-width: 900px) {
    .outer-container {
      height: 100vh;
    }
    .heading{
      font-size: 4vh;
    }
  }
}


.waste {
  .outer-container {
    background-color: #ff8528;
    font-size: 9vh;
  }

  @media only screen and (max-width: 90px) {
    .outer-container {
      height: 100vh;

      .heading{
        max-font-size: 5vh;
      }
    }
  }
}

